* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* Свойства для сброса начальных стилей элементов */
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #303030;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

header {
  height: 70px;
  background-color: #2965f1;
  padding: 23px 0px; /* Стили для хедера */
}

header span {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  /* Стили для текста в хедере IT-INCUBATOR */
}

.main-section {
  background-color: #fafaff;
  height: 1024px;
  padding: 60px 0px;
  min-height: auto;
  /* Стили для первой секции */
}

.main-title {
  font-weight: 700;
  font-size: 48px;
  color: #303030;
  margin-bottom: 20px; /* Стили для заголовка в первой секции */
}

.main-text {
  font-weight: 400;
  font-size: 18px;
  color: #303030;
  /* Стили для текста в первой секции */
}

.main-image {
  max-width: 715px;
  height: 508px;
  /* Стили для изображения в первой секции */
}

.about-section {
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 94px;
}
/* Стили для второй секции */

select {
  width: 150px;
  height: 36px;
  padding: 9px 59px 8px 12px;
  border: 1px solid rgba(48, 48, 48, 0.3);
  border-radius: 5px;

  font-weight: 400;
  font-size: 16px;

  list-style-image: url(assets/img/Vector.svg);

  /* Стили для выпадающего списка */
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  color: #303030;
  padding: 0px 0px 25px 0px;
  margin-bottom: 25px;
  /* Стили для заголовков во второй секции */
}

.frameworks-list {
  width: 80px;
  height: 57px;
  background: #fff;
  list-style-image: url(assets/img/arrow.svg);
  padding-left: 25px;
  /* Стили для маркированного списка во второй секции */
}

.books-list {
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  /* Стили для нумерованного списка во второй секции */
}

.label {
  font-weight: 400;
  font-size: 16px;
  /* Стили для подписей чекбоксов */
}

.text-field {
  width: 330px;
  height: 36px;
  margin: 0px 9px 60px 0px;
  border: 1px solid rgba(48, 48, 48, 0.3);
  border-radius: 5px;
  /* Стили для односточного поля ввода текста */
}

.btn {
  border-radius: 5px;
  width: 125px;
  height: 36px;
  background-color: #2965f1;

  font-weight: 700px;
  font-size: 14px;
  color: #fff;
  /* Стили для кнопки */
}

.line {
  border: 1px solid rgba(48, 48, 48, 0.3);
  height: 0px;
  margin-bottom: 66px ;
  /* Стили для линии */
}

table {

  width: 300px;
  height: 196px;
  border-collapse: collapse;
  border: 1px solid #95a1bb;
  font-weight: normal;
  font-size: 14px;


  /* Стили для таблицы */
}

th, td {
  height: 40px;
  text-align: left;
  padding: 16px 11px 16px 12px;
  
  /* Стили для ячеек таблицы */
}

footer {
  height: 70px;
  background-color: rgba(163, 167, 255, 0.3);
  padding: 26px 1361px 27px 1px;
   /* Стили для футера */
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  color: #2965f1;
  text-decoration: none;
  /* Стили для футера */
}
